@import "tailwindcss";

body {
  background-color: #000000;
}

.marginCenter {
  margin: auto auto;
}

:root {
  --padding: 1.5rem;
  --margin: 1.5rem;
  --gap: 1.0rem
}

.commonflex {
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}

.commanPadding {
  padding: 12px 10px;
}

.buttonPadding {
  padding: 12px var(--padding);
}

.requiredInput::after {
  content: "*";
  color: red;
  margin-left: 4px;
  font-weight: bold;
}

.springTransition {
  transform: scale(1);
  transition: transform 1s ease-in-out;
}

.springTransition:active {
  transform: scale(0.8);
}


.textAreaOverflow {
  scrollbar-width: thin;
  scrollbar-color: #9c9c9d #1e2939;
  overflow-x: hidden; 
}